[submodule "ai-independence"]
	path = ai-independence
	url = https://github.com/wink-/ai-independence
	branch = master

[submodule "ai-sovereignty"]
	path = ai-sovereignty
	url = https://github.com/wink-/ai-sovereignty
	branch = main

[submodule "open-source-apocalypse"]
	path = open-source-apocalypse
	url = https://github.com/wink-/open-source-apocalypse
	branch = master

[submodule "the-independent-home"]
	path = the-independent-home
	url = https://github.com/wink-/the-independent-home
	branch = master

[submodule "winkky-farms"]
	path = winkky-farms
	url = https://github.com/wink-/winkky-farms
	branch = master

[submodule "radiant-home-solutions"]
	path = radiant-home-solutions
	url = https://github.com/wink-/radiant-home-solutions
	branch = master
[submodule "radiant-gardens"]
	path = radiant-gardens
	url = https://github.com/wink-/radiant-gardens.git
	branch = main
